.grid {
  padding: 40px 0 !important;
}

.p {
  font-size: 1.5 rem;
  text-align: left;
  padding-bottom: 20px;
}

.top {
  padding-top: 60px;
  font-size: 1.5 rem;
  text-align: left;
  padding-bottom: 20px;
}

.title {
  min-height: 20px !important;
}

.row {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 90px !important;
}

.card {
  margin: 20px 0 !important;
  width: 300px !important;
  height: 550px !important;
}

.contact {
  display: flex !important;
  flex-direction: column;
}

.picture img {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover !important;
  object-position: top !important;
}

.picture {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.picture:hover {
  filter: grayscale(0%) !important;
  transition: all 0.3s ease-in-out;
}
