.device {
  height: 95vh;
}

.device-grid {
  max-width: 700px !important;
}

.device-header {
  display: flex !important;
  justify-content: space-between !important;
  min-width: 100% !important;
}
