.main {
  padding: 10px 10px 20px 10px !important;
  justify-content: center !important;
  align-items: flex-start !important;
}
.main > * {
  padding-bottom: 1rem !important;
}

.grid {
  max-width: 600px !important;
}

.nopad,
.box {
  padding: 0 !important;
  margin: 0 !important;
}

.box,
.graphbox {
  border: 2px black solid;
}

.graphbox {
  min-height: 250px;
}

.temp {
  background-color: rgba(255, 99, 133, 0.2);
}

.humidity {
  background-color: rgba(53, 162, 235, 0.2);
}

.lpg {
  background-color: rgba(236, 108, 22, 0.2);
}

.co {
  background-color: rgba(156, 1, 1, 0.2);
}

.smoke {
  background-color: rgba(92, 92, 92, 0.2);
}

.outdated {
  background-color: gray;
}
