.main {
  height: 80vh;
  padding: 50px 40px;
}

.grid {
  max-width: 700px !important;
}

.header {
  display: flex !important;
  justify-content: space-between !important;
  min-width: 100% !important;
  height: 40px;
}

.title{
  padding: 0 !important;
  margin: 0 !important;
}

.box {
  width: 100px;
  height: 200px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 2px black solid;
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.read {
  display: flex;
  flex-direction: column;
}

.liveheader {
  font-size: 1.3rem;
}


.read {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  font-size: 4.5rem;
  align-items: center;
}

.annotation {
  font-size: 2.5rem;
  align-items: center;
  padding-left: 5px;
  padding-top: 20px;

}
