.main {
  padding: 10px 10px 20px 10px !important;
  justify-content: center !important;
  align-items: flex-start !important;
}
.main > * {
  padding-bottom: 1rem !important;
}

.grid {
  max-width: 600px !important;
}

.nopad,
.box {
  padding: 0 !important;
  margin: 0 !important;
}

.box,
.graphbox {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 2px black solid;
}

.graphbox {
  min-height: 250px;
}
