.main {
  position: relative !important;
  bottom: 0 !important;
  z-index: 200;
  height: 50px !important;
  width: 100% !important;
}

.link {
  color: white;
  transition: ease-in-out all 0.5s;
}

.link:hover {
  color: grey;
}
