@import './footer.css';
@import './header.css';
@import './about.css';
@import './device.css';
@import './home.css';

/*
@import './api.css'; 

*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
